<div class="sfgov-logo__container">
  <a href="{{ branding_url }}" class="branding-link">
  <span class="sfgov-logo">
    <span class="sfgov-logo__image">
      <img src="{{ branding_logo_url }}" alt="{{ branding_logo_alt }}"/>
    </span>
    <span class="sfgov-logo__text">
      <span class="sfgov-logo__text--pre-title">{{ branding_pre_title|upper }}</span>
      <span class="sfgov-logo__text--title">{{ branding_title }}</span>
    </span>
  </span>
  </a>
</div>
