<ul class="sf-colors">
  {% for colorset in colorset %}
    <li>
      <span class="sf-swatch" style="background: {{ colorset.color }};"></span>
      <span class="sf-label">{{ colorset.color }}<br/>${{ colorset.label }}</span>
    </li>
  {% endfor %}

  {#{% for colorset in colorset %}#}
  {#${{ colorset.label }}: {{ colorset.color }};<br>#}
  {#{% endfor %}#}

</ul>
